{% load static %}
{% load i18n %}
{% if info %}
{% for info in info %}
{% if info.status == 'Open' %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Online Test</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="{% static 'account/assets/images/favicon.ico'%}">
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">
	<link rel="stylesheet" type="text/css" href="{% static 'account/assets/vendor/font-awesome/css/all.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'account/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'account/document/style.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'account/assets/css/style.css'%}">
</head>
<body>
<main style="background-color: whitesmoke;">
<div class="card shadow" style="border-radius: 0; background-color: #170f2f;">
    <div class="ml-3 mt-2" style="padding-left: 20px; height: 35px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="18" viewBox="0 0 54 14">
            <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
                <circle cx="6" cy="6" r="6" fill="#FF5F56" stroke="#E0443E" stroke-width=".5"></circle>
                <circle cx="26" cy="6" r="6" fill="#FFBD2E" stroke="#DEA123" stroke-width=".5"></circle>
                <circle cx="46" cy="6" r="6" fill="#27C93F" stroke="#1AAB29" stroke-width=".5"></circle>
            </g>
        </svg>
    </div>
</div>
<br>
<section class="pt-0">
	<div class="container-xxl">
		<div class="row">
			<div class="col-xl-3">
                <div class="box">
                    <div class="calendar" style="border-top-right-radius: 7px; border-top-left-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; padding-bottom: 5px;">
                        <div class="year">
                            <div class="current"><p id="currentYear"></p><span>{% trans 'Year'%}</span></div>
                            <div class="previous" style="border-bottom: 1px solid #24292d;"><p id="current-year">0</p></div>
                            <div class="next"><p id="hours">0</p></div>
                        </div>
                        <div class="month">
                            <div class="current"><p id="currentMonth"></p><span>{% trans 'Month'%}</span></div>
                            <div class="previous" style="border-bottom: 1px solid #24292d;"><p id="current-month">0</p></div>
                            <div class="next"><p id="minutes">0</p></div>
                        </div>
                        <div class="day">
                            <div class="current"><p id="currentDay"></p><span>{% trans 'Day'%}</span></div>
                            <div class="previous" style="border-bottom: 1px solid #24292d;"><p id="current-day">0</p></div>
                            <div class="next"><p id="seconds">0</p></div>
                        </div>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%; margin-top: 20px; background: #170f2f; color: white;">
                        {% translate "Language" %}
                    </button>
                    <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenu2" style="width: 100%; background: #170f2f;">
                        <li>
                            <a href="http://127.0.0.1:8000/en/password/"><button class="dropdown-item" type="button" style="color: white;">English</button></a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:8000/ru/password/"><button class="dropdown-item" type="button" style="color: white;">Russia</button></a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:8000/password/"><button class="dropdown-item" type="button" style="color: white;">Uzbek</button></a>
                        </li>
                    </ul>
                </div>
                <div style="width: 100%; height: 17px;"></div>
				<div>
					<div>
						<div class="border rounded-3 p-3 w-100" style="background-color: #170f2f;">
							<div class="list-group list-group-dark list-group-borderless collapse-list">
								<a class="list-group-item active" href="{% url 'student'%}"><i class="bi bi-ui-checks-grid fa-fw me-2"></i>{% trans "Dashboard"%}</a>
								<a class="list-group-item" href="{% url 'update'%}"><i class="bi bi-card-checklist fa-fw me-2"></i>{% trans "Update"%}</a>
								<a class="list-group-item" href="{% url 'password'%}"><i class="bi bi-key fa-fw me-2"></i>{% trans "Change-Password"%}</a>
                                <a class="list-group-item" href="{% url 'logout_student'%}"><i class="bi bi-door-open fa-fw me-2"></i>{% trans 'Logout'%}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-9">
				<div class="card bg-transparent border rounded-3">
					<div class="card-body" style="border: 1px solid #24292d; border-radius: 10px;">
						<form class="row g-4" method="post">
                            {% csrf_token %}
							<div class="col-md-12">
								<label class="form-label" style="color: #24292d;">{% trans "Old Password"%}</label>
								<input type="password" name="old_password" class="form-control" style="border: 1px solid #24292d; background-color: whitesmoke; color: black;">
							</div>
							<div class="col-md-12">
								<label class="form-label" style="color: #24292d;">{% trans "New Password"%}</label>
								<input type="password" name="new_password1" class="form-control" style="border: 1px solid #24292d; background-color: whitesmoke; color: black;">
							</div>
                            <div class="col-md-12">
								<label class="form-label" style="color: #24292d;">{% trans "Confirm Password"%}</label>
								<input type="password" name="new_password2" class="form-control" style="border: 1px solid #24292d; background-color: whitesmoke; color: black;">
							</div>
							<div class="d-sm-flex justify-content-start">
								<button type="submit" class="btn mb-0" style="background-color: #170f2f; color: white;">{% trans "Save changes"%}</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</main>
<div class="card shadow" style="border-radius: 0; background-color: #170f2f;">
    <div class="ml-3 mt-2 d-flex justify-content-end" style="padding-right: 20px; height: 35px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="18" viewBox="0 0 54 14">
            <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
                <circle cx="6" cy="6" r="6" fill="#FF5F56" stroke="#E0443E" stroke-width=".5"></circle>
                <circle cx="26" cy="6" r="6" fill="#FFBD2E" stroke="#DEA123" stroke-width=".5"></circle>
                <circle cx="46" cy="6" r="6" fill="#27C93F" stroke="#1AAB29" stroke-width=".5"></circle>
            </g>
        </svg>
    </div>
</div>
<style>
    @media only screen and (max-width: 1200px) {
       .col-xl-9 {
          padding-top: 20px;
       }
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'account/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'account/assets/js/functions.js'%}"></script>
<script src="{% static 'account/document/year_and_time.js'%}"></script>
</body>
</html>
{% endif %}
{% if info.status == 'Close' %}
{% include 'coming-son.html'%}
{% endif %}
{% endfor %}
{% endif %}