{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>Online Test</title>
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'coming-son/assets/img/favicon.svg'%}">
		<link rel="stylesheet" href="{% static 'coming-son/assets/css/bootstrap.min.css'%}">
		<link rel="stylesheet" href="{% static 'coming-son/assets/plugins/fontawesome/css/fontawesome.min.css'%}">
		<link rel="stylesheet" href="{% static 'coming-son/assets/plugins/fontawesome/css/all.min.css'%}">
		<link rel="stylesheet" href="{% static 'coming-son/assets/css/owl.carousel.min.css'%}">
		<link rel="stylesheet" href="{% static 'coming-son/assets/css/owl.theme.default.min.css'%}">
		<link rel="stylesheet" href="{% static 'coming-son/assets/plugins/slick/slick.css'%}">
		<link rel="stylesheet" href="{% static 'coming-son/assets/plugins/slick/slick-theme.css'%}">
        <link rel="stylesheet" href="{% static 'coming-son/assets/plugins/feather/feather.css'%}">
		<link rel="stylesheet" href="{% static 'coming-son/assets/css/style.css'%}">
	</head>
    <body class="error-page" style="background-color: #28195e;" oncontextmenu="return false;">
        <div class="main-wrapper">
			<div class="error-box">
				<h4 style="color: paleturquoise;">{% trans "WE ARE COMING SOON !!!"%}</h4>
				<h6 class="font-weight-normal" style="color: paleturquoise;">{% trans 'The Website is Under Construction'%}</h6>
				<div class="countdown-container">
					<div class="countdown-el">
						<p class="big-text" id="remainingHours" style="color: paleturquoise;">0</p>
						<span class="text-uppercase" style="color: paleturquoise;">{% trans 'Hours'%}</span>
					</div>
					<div class="countdown-el">
						<p class="big-text" id="remainingMinutes" style="color: paleturquoise;">0</p>
						<span class="text-uppercase" style="color: paleturquoise;">{% trans 'Minutes'%}</span>
					</div>
                    <div class="countdown-el">
						<p class="big-text" id="remainingSeconds" style="color: paleturquoise;">0</p>
						<span class="text-uppercase" style="color: paleturquoise;">{% trans 'Secunds'%}</span>
					</div>
				</div>
				<div class="come-soon-box">
					<h5 class="h4 font-weight-normal" style="color: paleturquoise;">{% trans 'We are working on fixing the problem. We back soon'%}</h5>
					<div class="social-icon-soon">
						<ul>
							<li><a href="{% if info.facebook %}{{ info.facebook }}{% else %}#{% endif %}"><i class="fa-brands fa-facebook face-book"></i></a></li>
							<li><a href="{% if info.youtube %}{{ info.youtube }}{% else %}#{% endif %}"><i class="fa-brands fa-youtube text-danger"></i></a></li>
							<li><a href="{% if info.instagram %}{{ info.instagram }}{% else %}#{% endif %}"><i class="fa-brands fa-instagram insta-gram" style="color: deeppink;"></i></a></li>
							<li><a href="{% if info.telegram %}{{ info.telegram }}{% else %}#{% endif %}"><i class="fa-brands fa-telegram" style="color: #1a9db4;"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
        </div>
		<script src="{% static 'coming-son/assets/js/jquery-3.6.0.min.js'%}"></script>
		<script src="{% static 'coming-son/assets/js/bootstrap.bundle.min.js'%}"></script>
		<script src="{% static 'coming-son/assets/js/script.js'%}"></script>
        <script>
            const objectsTime = ['{{ info.time|time:"H:i:s" }}',];
            function formatTimeValue(value) {
                return value < 10 ? '0' + value : value;
            }
            function checkAndReload() {
                var currentTime = new Date();
                var hours = formatTimeValue(currentTime.getHours());
                var minutes = formatTimeValue(currentTime.getMinutes());
                var seconds = formatTimeValue(currentTime.getSeconds()) - 3;
                var currentTimeStr = hours + ':' + minutes + ':' + seconds;
                if (objectsTime.includes(currentTimeStr)) {
                     window.location.reload();
                }
            }
            setInterval(checkAndReload, 1000);
        </script>
        <script>
            var targetTimeStr = '{{ info.time|time:"H:i:s" }}';
            function updateCountdown() {
                var currentTime = new Date();
                var hours = currentTime.getHours();
                var minutes = currentTime.getMinutes();
                var seconds = currentTime.getSeconds();
                var currentTimeStr = hours + ':' + minutes + ':' + seconds;
                var targetTime = new Date('2000-01-01 ' + targetTimeStr);
                var currentTimeObj = new Date('2000-01-01 ' + currentTimeStr);
                var timeDifference = targetTime - currentTimeObj;
                if (timeDifference <= 0) {
                    $('#countdown').text('00:00:00');
                } else {
                    var remainingHours = Math.floor(timeDifference / (1000 * 60 * 60));
                    var remainingMinutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
                    var remainingSeconds = Math.floor((timeDifference % (1000 * 60)) / 1000);
                    $('#countdown').text(pad(remainingHours) + ':' + pad(remainingMinutes) + ':' + pad(remainingSeconds));
                    $('#remainingHours').text(remainingHours);
                    $('#remainingMinutes').text(remainingMinutes);
                    $('#remainingSeconds').text(remainingSeconds);
                }
            }
            updateCountdown();
            var countdownInterval = setInterval(updateCountdown, 1000);
            function pad(number) {
                return (number < 10) ? '0' + number : number;
            }
        </script>
	</body>
</html>